body {
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid:
    "header" auto
    "nav" auto
    "main" 1fr
    "footer" auto
    "div" auto
    / 1fr;
}

@media (min-width: 40em) {
  body {
    grid:
      "header header" auto
      "nav main" 1fr
      "nav footer" auto
      "nav div" auto
      / 12em 1fr;
  }
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
div {
  grid-area: div;
}

/*  show  */
body {
  /* background: var(--dark-purple); */
  background: rgb(136, 18, 136);
}

header,
nav,
main,
footer,
div {
  /* background: var(--background); */
  background: #f8f8f8;
  padding: 1em;
}

h1 {
  font-family: var(--zilla);
}
